*.log
*.nlo
*.out

*.aux
*~
*.toc
*.snm
*.nav
*.blg
*.bbl
*.brf
*.ilg
*.ind
*.lof
*.lot
*.nls
*.xmp
*.zip
*.gz
*.bcf
*.run.xml
*.loc
*.soc
*.thm
*.synctex

# Artefactos de compilación/caché de MATLAB y Simulink
*.slxc
slprj/
*.asv
*.autosave
